{
	email admin@smallbizguru.com
}

{$LABBOX_SITE_HOST:lab.aismallbizguru.com} {
	encode zstd gzip

	@root path /
	redir @root /admin/login 302

	handle /api/* {
		reverse_proxy api:8000
	}

	handle /admin* {
		reverse_proxy api:8000
	}

	handle /static/* {
		reverse_proxy api:8000
	}

	handle {
		redir * /admin/login 302
	}
}
